.fourth-sec-card {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1.5rem;
}

.forth-box {
    flex-basis: 31.1%;
    cursor: pointer;
    position: relative;
}

.forth-box-body {
    padding: 7px 10px;
}

.Home-card2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.Home-card2-content {
    flex-basis: 31%;
    text-align: center;
    background-color: var(--background);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    position: relative;
}

.Home-card2-content::before {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, rgba(234,164,255,0.5944502801120448) 0%, rgba(234,164,255,0.3563550420168067) 0%, rgba(196,0,255,0.4768032212885154) 55%, rgba(0,21,255,0.11825980392156865) 96%);    left: -3px;
    top: -3px;
    right: -3px;
    bottom: -3px;
    z-index: -1;
    border-radius: 20px;

}

.Home-card2-content:hover {
    background: linear-gradient(90deg, rgba(234,164,255,0.5944502801120448) 0%, rgba(234,164,255,0.3563550420168067) 0%, rgba(196,0,255,0.4768032212885154) 55%, rgba(0,21,255,0.11825980392156865) 96%);
    border: none;
}


.Home-card2-content figure {
    width: 14%;
    height: auto;
    justify-self: center;
}

.Home-card2-content figure img {
    width: 100%;
    height: auto;
}
.ChooseUs-wrapper {
    padding: 50px 0px;
    background-color: var(--primary-color);
}

.ChooseUs-sec-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ChooseUs-sec-content>p {
    width: 60%;
    margin: 20px 0px;
}
.Team-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Team-content p{
width: 60%;
text-align: center;
}
.Team-card{
    display: flex;
align-items: center;
justify-content: center;
margin-top: 2rem;
gap: 1rem;
}
.Team-member1{
    flex-basis: 45%;
    background-color:#01A1CD;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}
.Team-member2{
    flex-basis: 45%;
    background-color: #FBC349 ;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}
.Team-member1 figure{
    width: 90%;
    margin: 0 auto;
    height: auto;
}
.Team-member1 figure img{
   width: 100%;
    height: auto;
}
.Team-member2 figure{
    width: 90%;
    margin: 0 auto;
    height: auto;
}
.Team-member2 figure img{
    width: 100%;
    height: auto;
}
.team-member-content{
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: none;
}
.team-member-content p{
color: var(--white-color);
}
.Team-member1:hover .team-member-content, .Team-member2:hover .team-member-content{
    display: block;
    transition: all.5s;
}
.Team-member1:hover::before, .Team-member2:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(255,255,255,0.009016106442576999) 0%, rgba(0,0,0,0.636467086834734) 100%, rgba(0,0,0,1) 100%);
    border-radius: 20px;
    transition: all.8s;
  
}
.Blog-parent{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0px;
}
.blog-card{
    flex-basis: 32%;
    padding: 20px;
    border: 1.5px solid var(--para-color);
    border-radius: 20px;
}
.blog-card figure{
    width: 100%;
    border-radius: 20px;
    height: auto;
    margin: 0 auto;
}
.blog-card figure img{
    width: 100%;
    border-radius: 10px;
    height: auto;
}
.blog-card-content{
    padding:20px 0px 0px 0px;
}
.blog-card-content a{
color: var(--para-color);
padding-top: 10px;
}
.blog-card-content a svg{
font-size: 23px;
padding-left: 10px;
}
.viewbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.viewbtn svg{
    font-size: 23px;
    padding-left: 10px;
}
.Accordian-wrapper{
    margin: 2rem 0px;
}
.accordian-parent{
    margin: 2rem 0px;
}
.accordion{
    background-color: var(--background) ;
}
.accordian-item{
    margin-bottom: 10px ;
}
  .accordion-body {
    background-color: transparent;
    color: var(--white-color);
  }
  .calltoaction-content{
    background-image: url(../images/primarybackground.png);
background-position: center;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
padding: 50px 0px;
border-radius: 20px;
  }
  .calltoaction-content-center{
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  @media screen and (max-width: 1200px){
  
    .fourth-sec-card {
        gap: 2rem;
    }

    .forth-box {
        flex-basis: 31%;
    }
    
  }
@media screen and (max-width: 992px){
    .blog-card{
        flex-basis: 48%;
    }
    .forth-box {
        flex-basis: 47%;
    }
    .Home-card2 {
        gap: 1rem;
    }
    .ChooseUs-sec-content>p {
        width: 80%;
    }

    .Home-card2-content {
        flex-basis: 48%;
    }

    .Home-card2-content figure {
        width: 13%;
    }
    .calltoaction-content-center{
        width: 80%;
        gap: 0.8rem;
    }
}
@media screen and (max-width: 768px){
    
    .ChooseUs-sec-content>p {
        width: 100%;
    }
    .Team-content p{
        width: 100%;
    }
    .Team-card{
        flex-direction: column;
    }
    .Team-member1, .Team-member2{
        flex-basis: 100%;
    } 
    .forth-box {
        flex-basis: 100%;
    } 
}
@media screen and (max-width: 576px){

    .Home-card2-content {
        flex-basis: 100%;
    }

    .Home-card2-content figure {
        width: 11.5%;
    }
    .blog-card{
        flex-basis: 100%;
    }
    
}
