:root {
  --background: #090B0C;
  --white-color: #fff;
  --secondary-color: #00BDFF;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background);
  color: var(--white-color);
}